extends layout 

block content
    h1= title

    form(method="POST" action="")
        label(for="author") Your name:
        input#author(type="text", placeholder="Enter your name", name="author", required="true")
        label(for="message") Your message:
        input#message(type="textarea", placeholder="Enter your message", name="message", required="true")
        button(type="submit") Submit